/*@import "mocha.css";*/
/*@import "tokyo-night.css";*/

/* lifted from https://github.com/tokyo-night/tokyo-night-vscode-theme */
/*@define-color red #f7768e;*/
/*@define-color orange #ff9e64;*/
/*@define-color yellow #e0af68;*/
/*@define-color sand #cfc9c2;*/
/*@define-color green #9ece6a;*/
/*@define-color teal #73daca;*/
/*@define-color tealish #b4f9f8;*/
/*@define-color bluegreen #2ac3de;*/
/*@define-color blueish #7dcfff;*/
/*@define-color blue #7aa2f7;*/
/*@define-color violet #bb9af7;*/

/*@define-color text #c0caf5;*/
/*@define-color whiteish #a9b1d6;*/
/*@define-color grayish #9aa5ce;*/
/*@define-color gray #565f89;*/

/*@define-color base #414868;*/
/*@define-color mantle #24283b;*/
/*@define-color crust #1a1b26;*/

* {
  /*https://docs.gtk.org/gtk3/css-overview.html#colors */
  /*color: @text;*/
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  font-weight: bold;
  border-radius: 8px;
  /*transition-property: background-color;*/
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    /*background-color: @red;*/
    /*color: @crust;*/
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background-color: transparent;
  /* border: 2px solid alpha(@crust, 0.3); */
  /* border: 2px solid alpha(#1a1b26, 0.3); */
}

window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  /*background-color: shade(@base, 0.9); */
  /*background-color: transparent;*/
  padding: 3px;
  padding-left: 8px;
  border: 2px none @blue;
}

#workspaces {
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 10px;
}

#workspaces button.active {
  /*background-color: #b5e8e0; */
  /*background-color: @mantle;*/
  /*color: #1a1826;*/
}

#workspaces button.urgent {
  /*color: #1a1826;*/
}

#workspaces button:hover {
  /*background-color: @blueish;*/
  /*color: #1a1826;*/
}

tooltip {
  background: #302d41;
}

tooltip label {
  /*color: #d9e0ee;*/
}

#custom-launcher {
  font-size: 20px;
  padding-left: 8px;
  /* padding-right: 6px; */
  padding-right: 20px;
  /*color: #b5e8e0;*/
}

#mode,
/*#clock,*/
#memory,
#temperature,
#cpu,
#mpd,
#custom-wall,
#temperature,
#backlight,
#pulseaudio,
/*#network,*/
#battery,
#custom-powermenu {
  padding-left: 10px;
  padding-right: 10px;
}

#memory {
  /*color: @teal;*/
}

#cpu {
  /*color: @violet;*/
}

#clock {
  /*color: @whiteish;*/
  padding-left: 30px;
  padding-right: 30px;
}

#idle_inhibitor {
  /*color: @sand;*/
  /* padding-right: 8px; */
  padding-right: 16px;
}

#battery {
  min-width: 55px;
  /*color: @blueish;*/
}

#battery.charging,
#battery.full,
#battery.plugged {
  /*color: @green;*/
}

#battery.critical:not(.charging) {
  /*color: @red;*/
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-wall {
  /*color: @blueish;*/
}

#temperature {
  /*color: @grayish;*/
}

#backlight {
  /*color: @sand;*/
}

#pulseaudio {
  /*color: @whiteish;*/
}

#network {
  /*color: @tealish;*/
  padding-left: 20px;
  padding-right: 20px;
}

#bluetooth {
  /*color: @blue;*/
}

#network.disconnected {
  /*color: @text;*/
}

#custom-powermenu {
  /*color: @red;*/
  padding-right: 8px;
}

#tray {
  padding-right: 10px;
  padding-left: 10px;
}

#mpd.paused {
  /*color: #414868; */
  /*color: @base;*/
  font-style: italic;
}

#mpd.stopped {
  background: transparent;
}

#mpd {
  /*color: #c0caf5; */
  /*color: @mantle;*/
}
