/*@import "mocha.css";*/
/*@import "tokyo-night.css";*/

/* lifted from https://github.com/tokyo-night/tokyo-night-vscode-theme */
/*@define-color red #f7768e;*/
/*@define-color orange #ff9e64;*/
/*@define-color yellow #e0af68;*/
/*@define-color sand #cfc9c2;*/
/*@define-color green #9ece6a;*/
/*@define-color teal #73daca;*/
/*@define-color tealish #b4f9f8;*/
/*@define-color bluegreen #2ac3de;*/
/*@define-color blueish #7dcfff;*/
/*@define-color blue #7aa2f7;*/
/*@define-color violet #bb9af7;*/

/*@define-color text #c0caf5;*/
/*@define-color whiteish #a9b1d6;*/
/*@define-color grayish #9aa5ce;*/
/*@define-color gray #565f89;*/

/*@define-color base #414868;*/
/*@define-color mantle #24283b;*/
/*@define-color crust #1a1b26;*/

* {
  /*https://docs.gtk.org/gtk3/css-overview.html#colors */
  /*color: @text;*/
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  font-weight: bold;
  border-radius: 8px;
  /*transition-property: background-color;*/
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: #f7768e;
    color: #1a1b26;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background-color: transparent;
  border: none
}

window>box {
  /* top, right, bottom, left */
  margin: 12px 21px 6px 21px;
  padding: 5px;
  background-color: alpha(#000, 0.49);
  border: none;
  border-radius: 15px;
  /* same as hyprland's rounding setting */
}

#workspaces {
  padding-left: 20px;
  padding-right: 20px;
  /*border: 2px solid red;*/
  border: none;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active {
  /*color: transparent;*/
  background-color: #414868;
  color: #fff;
}

#workspaces button.urgent {
  color: #f7768e;
}

#workspaces button:hover {
  background-color: #c0caf5;
  color: #000;
}

tooltip {
  background: #302d41;
}

tooltip label {
  /*color: #d9e0ee;*/
  border: none;
}

#custom-launcher {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 20px;
  /*color: #b5e8e0;*/
}

#mode,
#memory,
#temperature,
#cpu,
#mpd,
#custom-wall,
#backlight,
#pulseaudio,
#battery,
#custom-powermenu {
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  border: none;
}

#battery {
  min-width: 55px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  border: none;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-wall {
  border: none;
}

#temperature {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

#backlight {
  border: none;
}

#mpd {
  border: none;
}

#mpd.paused {
  font-style: italic;
}

#mpd.stopped {
  background: transparent;
}

#pulseaudio {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

#memory {
  padding-right: 20px;
  padding-left: 10px;
  border: none;
}

#cpu {
  border: none;
  padding-right: 20px;
}

#network {
  padding-left: 20px;
  padding-right: 10px;
}

#network.disconnected {
  border: none;
  color: #f7768e;
}

#bluetooth {
  border: none;
  padding-left: 0px;
  padding-right: 20px;
}

#clock {
  padding-left: 20px;
  padding-right: 20px;
}

#idle_inhibitor {
  padding-left: 20px;
  padding-right: 20px;
}

#tray {
  padding-right: 20px;
  padding-left: 20px;
}

#custom-powermenu {
  /*color: @red;*/
  padding-right: 15px;
}
